.data-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  color: #282c34;
  font-size: 1rem;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.data-table tr:hover {
  background-color: #f1f1f1;
}